<div id='container'>
  <div class='navigation'>
  <ul>
    <li><a href='#/'>Search Page</a></li>
  </ul>
  </div>
  <h2>Tracking</h2>
  <input type='text' ng-model='trackingScript' placeholder='Enter HTML tracking code' size=100>
  <br><br>
  <button ng-click='update()'>Update Tracking Code</button>
  <br><br>
  <h2>Usage Report</h2>
  <div class='box' ng-model='stats'>
    <div class='list' ng-repeat='stat in stats | orderBy : sortStats : true'>
      <div><strong>Searched term:</strong> "{{stat.searchTerm}}"</div>
      <div><strong>Searched zip code:</strong> {{stat.zipCode}}</div>
      <div><strong>Time of search:</strong> {{stat.time}}</div>
      <div><strong>User's IP address:</strong> {{stat.ipAddress}}</div>
    </div>
  </div>
</div>
