<div id='container' ng-controller='adminController'>
  <!-- Your html here -->
  <h2>Stats</h2>
  <input name='searchBox' type='text' ng-model='data.search' placeholder='Enter HTML tracking code'>
  <div ng-model='data.stats'>
    <div class='stat' ng-repeat='stat in data.stats | filter:username | orderBy:'-visits' | filter:data.search'>
      <div class='searchTerm'>{{stat.search}}</div>
      <div class='zipCode'>{{stat.zip}}</div>
      <div class='time'>{{stat.time}}</div>
      <div class='ipAddress'>{{stat.ipAddress}}</div>
      <!-- <a href='{{link.base_url}}/api/links/{{link.code}}'>{{link.base_url}}/api/links/{{link.code}}</a> -->
    </div>
  </div>

</div>
